body {background-color: crimson;
}

h1 {
    color: blue;
}

h3 {color: blue;
}

hr {border-style: none;
    border-top-style: dotted;
    border-color: blue;
    border-width: 5px;
    width: 5%;
}